[Desktop Entry]
Type=Application
Name=AI Dikte
Comment=Configure AI dictation
Exec=ai-dikte menu
TryExec=ai-dikte
Terminal=true
Icon=ai-dikte
Categories=Utility;
